# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dapp/node_modules
dapp/.pnp
dapp/.pnp.js

# testing
/coverage

# production
dapp/build

# misc
dapp/.DS_Store
dapp/.env
dapp/.env.local
dapp/.env.development.local
dapp/.env.test.local
dapp/.env.production.local

dapp/npm-debug.log*
dapp/yarn-debug.log*
dapp/yarn-error.log*
dapp/.yarn/cache

# Local Netlify folder
.netlify

